{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Bienvenue sur Energy Tracker ⚡</h1>
    <p>Choisissez une action dans le menu.</p>

   
        <a href="{{ path('app_login') }}" class="btn btn-primary">Se connecter</a>
        <a href="{{ path('app_register') }}" class="btn btn-secondary">Créer un compte</a>
{% endblock %}
