{% extends 'base.html.twig' %}

{% block title %}Modifier un objectif{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">Modifier un objectif</h1>

    <div class="mb-3">
        {{ include('goal/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    </div>

    <a href="{{ path('app_goal_index') }}" class="btn btn-secondary me-2">
        <i class="bi bi-arrow-left"></i> Retour à la liste
    </a>

    {{ include('goal/_delete_form.html.twig') }}
</div>
{% endblock %}
